In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/processed/tennis_augmented.csv")

In [3]:
df.head()

,product_price,product_original_price,product_star_rating,product_num_ratings,product_minimum_offer_price,is_prime,climate_pledge_friendly,has_variations,coupon_discount,sales_volume
0,36.661780,63.161923,4.078384,359.557636,59.911637,1.0,0.0,1.0,-0.099590,47
1,46.874729,67.600951,4.313783,-814.577238,41.928306,1.0,0.0,1.0,0.404374,33
2,24.425356,52.276780,4.546788,-953.988191,24.472614,1.0,0.0,1.0,0.077852,33
3,71.123465,79.246256,4.649976,3696.268226,44.480069,1.0,0.0,1.0,7.497777,153
4,45.094955,87.757177,3.900340,-760.120956,43.209550,1.0,0.0,1.0,0.387575,34

In [4]:
df["country_id"] = 1
df["country_name"] = "United States"
df["datestr"] = "2024-10-06"

In [6]:
df.to_csv("../data/historical/2024-10-06.csv", index=False)